version: "3.9"

services:
  traefik:
    image: traefik:v2.11
    command:
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
    ports:
      - "80:80"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"

  sparelinx:
    image: expovin/demo_sparelinx:1.0
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.sparelinx.rule=Host(`demo.expovin.it`)"
      - "traefik.http.routers.sparelinx.entrypoints=web"
      - "traefik.http.services.sparelinx.loadbalancer.server.port=8888"
